<section class="background">

    <div class="photo container">
        <div class="photo__title-main">
            My Recent Works
        </div>

        <div class="photo__flex1">
            <div class="photo__page1">
                <div class="photo__title">Ecommerce Landing page</div>
                <img  class="photo__img" src="./img/logo/beard.png" alt="beard">
                <div class="photo__text-img1">11 days</div>
            </div>

            <div class="photo__page2">
                <div class="photo__title">Basketball Studio</div>
                <img class="photo__img" src="./img/logo/ball.png" alt="ball">
                <div class="photo__text-img2">9 days</div>
            </div>

            <div class="photo__page2">
                <div class="photo__title">Perfume Company site</div>
                <img class="photo__img" src="./img/logo/dior.png" alt="iphone">
                <div class="photo__text-img3">10 days</div>
            </div>

        </div>

        <div class="photo__flex1">
            <div class="photo__page1">
                <div class="photo__title">Health care site</div>
                <img class="photo__img" src="./img/logo/health.png" alt="Health" >
                <div class="photo__text-img4">11 days</div>
            </div>

            <div class="photo__page2">
                <div class="photo__title">Real Estate</div>
                <img class="photo__img" src="./img/logo/home.png" alt="home">
                
               
                    <div class="photo__text-img5">7 days</div>
                
                
            </div>

            <div class="photo__page2">
                <div class="photo__title">Bank Wallet</div>
                <img class="photo__img" src="./img/logo/apple.png" alt="apple">
                
                    <div class="photo__text-img6">5 days</div>
                </div>
 
            </div>

        </div>

    </div>



 
</section>