<section class="profile container">
  <div class="profile__box">
    <h1 class="profile__head">Create your website in <span class="profile__span">less than 12days</span> </h1>
    <div class="profile__desc">
      Hey, I’m Mark Essein. A fullstack web developer with 7 years experience
      building successful websites and applications. I can build a high
      converting website for you as quick as possible!
    </div>

    <a class="profile__btn" href="/">
      <div class="profile__link">Get in Touch</div>
    </a>
  </div>

  <div class="profile__img">
    <img src="./img/man.png" alt="man" />
  </div>
</section>
